__alias() {
    alias $1="$2"
}

###############################################################################
# File System
###############################################################################
__alias  ..     'cd ..'
__alias  ...    'cd ../..'
__alias  ....   'cd ../../..'
__alias  .....  'cd ../../../..'
__alias  '-- -' 'cd -'

# Create / remove directories
alias md='mkdir -p'
alias rd='rmdir'

# List directory contents
if [[ "$(type -P tree)" ]]; then
    alias ll='tree --dirsfirst -aLpughDFiC 1'
else
    alias ll='ls -al'
    alias tree="find . -print | sed -e 's;[^/]*/;|____;g;s;____|; |;g'"
fi
# Always use color output for `ls`
if [[ "$OSTYPE" =~ ^darwin ]]; then
    alias ls="command ls -G"
else
    alias ls="command ls --color"
    export LS_COLORS='no=00:fi=00:di=01;34:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.gz=01;31:*.bz2=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.jpg=01;35:*.jpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.avi=01;35:*.fli=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.ogg=01;35:*.mp3=01;35:*.wav=01;35:'
fi
alias sl=ls
alias l='ls -a'
alias ls='ls -G'  # Compact view, show colors
alias la='ls -AF' # Compact view, show hidden
alias l1='ls -1'
# List only directories
alias lsd='CLICOLOR_FORCE=1 ls -al | grep --color=never "^d"'

# Permissioning
alias chx='chmod +x'

# Open files
alias o="open"
alias oo="open ."
alias ij="open -a 'IntelliJ IDEA 12'"

# Recursively delete `.DS_Store` files
alias dsstore="find . -type f -name '*.DS_Store' -ls -delete"

###############################################################################
# File Search
###############################################################################
# Grep
alias omgrep="find . \! -iregex \".*.svn.*\" -print0 | xargs -0 grep --color -I -n"

###############################################################################
# File Tools
###############################################################################
# OS X has no `md5sum`, so use `md5` as a fallback
command -v md5sum > /dev/null || alias md5sum="md5"
# OS X has no `sha1sum`, so use `shasum` as a fallback
command -v sha1sum > /dev/null || alias sha1sum="shasum"

# Merge PDF files
# Usage: `mergepdf -o output.pdf input{1,2,3}.pdf`
alias mergepdf='/System/Library/Automator/Combine\ PDF\ Pages.action/Contents/Resources/join.py'

# Trim new lines and copy to clipboard
alias c="tr -d '\n' | pbcopy"

alias fs="stat -f '%z bytes'"
alias df="df -h"

###############################################################################
# OS X
###############################################################################
# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

###############################################################################
# Administration
###############################################################################
# Enable aliases to be sudo’ed
alias sudo='sudo '
alias _="sudo"

# PlistBuddy alias, because sometimes `defaults` just doesn’t cut it
alias plistbuddy="/usr/libexec/PlistBuddy"

###############################################################################
# Terminal
###############################################################################
alias k='clear'
alias cls='clear'

alias edit="$EDITOR"
alias pager="$PAGER"

# Ring the terminal bell, and put a badge on Terminal.app’s Dock icon
# (useful when executing time-consuming commands)
alias badge="tput bel"

###############################################################################
# Web Tools
###############################################################################
# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

###############################################################################
# Networking Tools
###############################################################################
# IP addresses
alias localip="ipconfig getifaddr en1"
alias ip=localip
alias wanip="dig +short myip.opendns.com @resolver1.opendns.com"

# Enhanced WHOIS lookups
alias whois="whois -h whois-servers.net"

# Flush Directory Service cache
alias flush="dscacheutil -flushcache"

# View HTTP traffic
alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# One of @janmoesen’s ProTip™s
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
	alias "$method"="lwp-request -m '$method'"
done

###############################################################################
# Navigation Shortcuts
###############################################################################
__alias  db   "cd ~/Dropbox"
__alias  dl   "cd ~/Downloads"
__alias  dt   "cd ~/Desktop"

__alias  proj  "cd ~/Projects"
__alias  echox "cd ~/Projects/Echo"
__alias  jwc   "cd ~/Projects/JWC"
__alias  om    "cd ~/Projects/OpenMile"

###############################################################################
# Git Shortcuts
###############################################################################
__define_git_completion() {
eval "
    _git_$2_shortcut () {
        COMP_LINE=\"git $2\${COMP_LINE#$1}\"
        let COMP_POINT+=$((4+${#2}-${#1}))
        COMP_WORDS=(git $2 \"\${COMP_WORDS[@]:1}\")
        let COMP_CWORD+=1

        local cur words cword prev
        _get_comp_words_by_ref -n =: cur words cword prev
        _git_$2
    }
"
}

__git_shortcut() {
    type _git_$2_shortcut &>/dev/null || __define_git_completion $1 $2
    alias $1="git $2 $3"
    complete -o default -o nospace -F _git_$2_shortcut $1
}

__git_alias() {
    alias $1="git $2 $3"
}

__git_shortcut  ga    add
__git_shortcut  gaa   add .
__git_shortcut  gb    branch
__git_shortcut  gba   branch -a
__git_shortcut  gbd   branch -D
__git_shortcut  gco   checkout
__git_shortcut  gcob  checkout -b
__git_shortcut  gcl   clone --recursive
__git_shortcut  gcp   cherry-pick
__git_shortcut  gca   commit '-a -m'
__git_shortcut  gci   commit -v
__git_shortcut  gcia  commit '-a -v'
__git_shortcut  gp    push
__git_shortcut  gpo   push origin
__git_shortcut  gpt   push --tags
__git_shortcut  gm    merge --no-ff
__git_shortcut  gus   rm --cached
__git_shortcut  grh   reset --hard
__git_shortcut  gd    diff
__git_shortcut  gdc   diff --cached
__git_shortcut  gds   diff --stat
__git_shortcut  gf    fetch
__git_shortcut  glp   log -p
__git_shortcut  gls   log --stat

__git_alias     gl    log "--pretty='format:%Cgreen%h%Creset %an - %s' --graph"
__git_alias     gs    status
__git_alias     gpom  pull 'origin master'

__alias  g      git
__alias  gcd    'cd "`git rev-parse --show-toplevel`"'

###############################################################################
# Virtualenvwrapper
###############################################################################
__alias  vadd   'add2virtualenv'
__alias  vcd    'cdvirtualenv'
__alias  vcdp   'cdproject'
__alias  vcdsp  'cdsitepackages'
__alias  vcp    'cpvirtualenv'
__alias  vd     'deactivate'
__alias  vls    'lsvirtualenv'
__alias  vlssp  'lssitepackages'
__alias  vmk    'mkvirtualenv'
__alias  vmkp   'mkproject -r ~/.pip_default_requirements -a .'
__alias  vrm    'rmvirtualenv'
__alias  vsetp  'setvirtualenvproject'
__alias  vshow  'showvirtualenv'
__alias  v      'workon'

###############################################################################
# Open Mile
###############################################################################
__alias  omdb        "mysql -u web_user -p --password=semitruck web_db"
__alias  omreportdb  "mysql -u report_user -p --password=semitruck report_db"
__alias  omdbup      "paster db-update development.ini"

__alias  ommc       "memcached -m 64 -p 11211 -d -P \`pwd\`/memcached.pid"
__alias  ommcq      "memcacheq -r -N -R -L 2048 -B 2048 -d -P memcacheq.pid -H /var/data/memcacheq/ > /var/log/memcacheq/mq.log 2>&1"
__alias  omkillmc   "kill \`cat memcached.pid\`; rm memcached.pid"
__alias  omkillmcq  "kill \`cat memcacheq.pid\`; rm memcacheq.pid"

__alias  omjobs      "ommc; paster job-worker --daemon start --pid-file jobs.pid --log-file jobs.log"
__alias  omkilljobs  "paster job-worker --daemon stop --pid-file jobs.pid; omkillmc"

__alias  omserve  "./pserve.sh"
__alias  omrun    "ommc; omjobs; omserve; omkilljobs; omkillmc"
__alias  omapi    "paster serve --app-name=api --server-name=api --reload development.ini"
__alias  omjob    "paster job-worker -p 1"

__alias  omup     "python setup.py develop"
__alias  omloads  "paster sample-data development.ini loads"

__alias  omwrecker   "omdb -e \"DROP DATABASE web_db; CREATE DATABASE web_db;\"; omreportdb -e \"DROP DATABASE report_db; CREATE DATABASE report_db;\"; paster db-update development.ini; paster sample-data development.ini; paster sample-data development.ini loads"
__alias  omwrecker2  "scp -C omadmin@trunk.test.openmile.com:~/web_db-data.sql ~/; omdb -e \"DROP DATABASE web_db; CREATE DATABASE web_db;\"; omreportdb -e \"DROP DATABASE report_db; CREATE DATABASE report_db; USE web_db; source ~/web_db-data.sql;\"; paster db-update development.ini"
__alias  omadvance   "paster sample-data development.ini advance"

__alias  killnginx  "sudo kill \`cat /opt/local/var/run/nginx/nginx.pid\`"

###############################################################################
# Ubuntu
###############################################################################
if [[ "$(cat /etc/issue 2> /dev/null)" =~ Ubuntu ]]; then
    # Package management
    __alias  update   "sudo apt-get -qq update && sudo apt-get upgrade"
    __alias  install  "sudo apt-get install"
    __alias  remove   "sudo apt-get remove"
    __alias  search   "apt-cache search"
fi
