###############################################################################
# Java
###############################################################################
if [[ "$OSTYPE" =~ ^darwin ]]; then
    export JAVA_HOME=/Library/Java/Home

               CLASSPATH=$HOME/Tools/slf4j/slf4j-api-1.7.5.jar
    CLASSPATH=$CLASSPATH:$HOME/Tools/slf4j/slf4j-simple-1.7.5.jar

    export CLASSPATH
elif [[ "$(cat /etc/issue 2> /dev/null)" =~ Ubuntu ]]; then
    export JAVA_HOME=/usr/bin
fi
JAVA_OPTS="-Xmx1024M -Xms16M"

###############################################################################
# Python
###############################################################################
if [[ "$OSTYPE" =~ ^darwin ]]; then
    export PYTHON_HOME=/usr/local/bin
elif [[ "$(cat /etc/issue 2> /dev/null)" =~ Ubuntu ]]; then
    export PYTHON_HOME=/usr/bin
fi

###############################################################################
# VirtualEnv / VirtualEnvWrapper
###############################################################################
export WORKON_HOME=$HOME/Virtualenvs
export PROJECT_HOME=$HOME/Projects

# virtualenv should use Distribute instead of legacy setuptools
export VIRTUALENV_DISTRIBUTE=true

export VIRTUALENVWRAPPER_PYTHON=$PYTHON_HOME/python
export VIRTUALENVWRAPPER_VIRTUALENV_ARGS='--no-site-packages'

# Centralized location for new virtual environments
export PIP_VIRTUALENV_BASE=$WORKON_HOME
# pip should only run if there is a virtualenv currently activated
export PIP_RESPECT_VIRTUALENV=true
# cache pip-installed packages to avoid re-downloading
export PIP_DOWNLOAD_CACHE=$HOME/.pip/cache

###############################################################################
# Open Mile
###############################################################################
export OM_HOME=$HOME/Projects/OpenMile

###############################################################################
# Nginx
###############################################################################
export NGINX_PATH=/opt/local/sbin/nginx

###############################################################################
# MySQL
###############################################################################
#export DYLD_LIBRARY_PATH=$(brew --cellar)/mysql/5.6.10/lib

###############################################################################
# Node
###############################################################################
export NODE_PATH=/usr/local/lib/node

###############################################################################
# Terminal
###############################################################################
# Set this to the command you use for todo.txt-cli
export TODO="t"

if [[ ! "$SSH_TTY" && "$OSTYPE" =~ ^darwin ]]; then
  export EDITOR='nano'
else
  export EDITOR=$(type nano pico vi vim 2>/dev/null | sed 's/ .*$//;q')
fi

export GREP_OPTIONS='--color=auto'

export MANPAGER="most"
export PAGER="most"

# Prefer US English and use UTF-8
export LANG="en_US"
export LC_ALL="en_US.UTF-8"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups
